/*

      M A I N

*/

main {
  display: flex;
  flex-direction: column;
  gap: 6rem;
}

/*


      F I R S T    S E C T I O N


*/
.initial-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 6rem;
}
.initial-container .background{
  position: relative;
}

.initial-container .background img {
  width: 100%;
}
.initial-container .background .cell {
  position: absolute;
  bottom: 12%;
}
.initial-container .background .bg {
  display: none;
}
.initial-container .background .bgmobile {
  margin-top: 2.4rem;
}

.initial-container .generation {
  width: 100%;
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.initial-container .generation .group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.initial-container .generation .group h1 {
  font-size: 36px;
  font-weight: 400;
  color: var(--darkblue);
  text-align: center;
}

.initial-container .generation .group p {
  font-size: 16px;
  padding: 0 1rem;
  font-weight: 400;
  line-height: 26px;
  color: var(--grayishblue);
  text-align: center;
}
@media (min-width: 1200px) {
  main {
    display: flex;
    flex-direction: column;
    gap: 0;
  }
  .initial-container {
    flex-direction: row-reverse;
    max-width: 1200px;
    margin: 0 auto;
  }
  .initial-container .background {
    width: 100%;
    height: 100%;
  }
  .initial-container .background .bg {
    display: block;
    position: absolute;
    bottom: 10%;
    left: -20%;
    z-index: 0;
    width: 180%;
  }
  .initial-container .background .bgmobile {
    display: none;
  }
  .initial-container .background .cell {
    position: relative;
    width: 110%;
    margin-left: 5rem;
    z-index: 1;
  }
  .initial-container .generation {
    width: 100%;
    height: 700px;
    align-items: flex-start;
    justify-content: center;
  }
  .initial-container .generation .group {
    width: 450px;
    align-items: flex-start;
  }
  .initial-container .generation .group h1{
    font-size: 50px;
    text-align: start;
    font-weight: 400;
  }
  .initial-container .generation .group p {
    text-align: start;
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .initial-container {
    max-width: 1440px;
    margin: 0 auto;
  }
}

@media (min-width: 1920px) {
  .initial-container {
    max-width: 1920px;
    margin: 0 auto;
  }
  .initial-container .background .bg {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 0;
    width: 200%;
  }
  .initial-container .background .cell {
    position: relative;
    width: 110%;
    margin-left: 5rem;
    z-index: 1;
  }
}

/*


      S E C O N D    S E C T I O N


*/

.second-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.second-container .choose {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.second-container .choose h2 {
  font-size: 36px;
  font-weight: 400;
  color: var(--darkblue);
}

.second-container .choose .desc {
  color: var(--grayishblue);
  line-height: 26px;
  font-size: 16px;
}

@media (min-width: 1200px) {
  .second-container {
    max-width: 1200px;
    margin: -6rem auto 0 auto;
  }
  .second-container .choose {
    align-items: flex-start;
  }
  .second-container .choose .desc {
    font-size: 18px;
    width: 650px;
    text-align: start;
    margin-bottom: 5rem;
  }
}

/*


      T H R E E     S E C T I O N


*/
.last-container h2 {
  margin: 2rem 1rem;
  font-size: 36px;
  font-weight: 400;
  color: var(--darkblue);
}

@media(min-width: 1200px) {
  .last-container {
    max-width: 1200px;
    margin: 0 auto;
  }
}